@import "reset";
@import "variables";
@import "fonts";
@import "mixins";

@import "../components/header/header";
@import "../components/cta/cta";
@import "../components/hero/hero";

.wrapper {
    @include container();
}

body {
    font-family: $font-primary;
    font-weight: 400;
}

main {
    overflow: hidden;
}