@import "reset";
@import "variables";
@import "fonts";
@import "mixins";

@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/cta/cta";
@import "../components/services/services";
@import "../components/stroies/stories";
@import "../components/otherStories/other-stories";
@import "../components/hero/hero";
@import "../components/contacts/contacts";
@import "../components/careInfo/care-info";
@import "../components/mainStory/mainStory";
@import "../pages/404";

.wrapper {
  @include container();
}

body {
  font-family: $font-primary;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}
