.care-info {
    background-color:$color-beige;
    padding: 64px 0;

    &__title {
        margin: 32px 0;
        color: $color-light-black;
        font-weight: 700;
        font-size: 34px;
        line-height: 48px;
    }

    &__text {
        display: inline-block;
        color: $color-light-black;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
    }

    &__item {
        background-color:$color-dark-beige;
        padding: 32px 24px;
        
        &:first-child {
            margin-bottom: 32px;
        }
    }

    &__desc {
        padding: 32px 0;
        color: $color-light-black;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    &__link {
        padding: 4px;
        color: $color-light-black;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;

        &:focus-visible {
            outline: none;
            text-decoration: underline;
            box-shadow: 0 0 0 2px $color-green;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__svg {
        margin-left: 14px;
        vertical-align: middle;
    }

    @include size-laptop() {
        padding: 160px 0;
    
        &__title {
            margin-bottom: 96px;
            font-size: 72px;
            line-height: 80px;
        }
    
        &__text {
            font-size: 28px;
            line-height: 48px;
        }

        &__item {
            padding: 64px 48px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;

            &:first-child {
                margin-bottom: 48px;
            }
        }

        &__desc {
            padding: 0;
            font-size: 20px;
            line-height: 40px;
        }

        &__link {
            padding: 10px;
            font-size: 20px;
            line-height: 32px;
            margin-left: auto;
        }

    }
}